@import url("https://fonts.googleapis.com/css?family=Russo+One|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900&subset=cyrillic");
body {
  background: #000;
  color: #fff;
  font-size: 16px; }

p {
  font-family: "Titillium Web", sans-serif; }

ul {
  list-style: none;
  padding: 0; }

.col-centered {
  float: none;
  margin: 0 auto; }

.foo {
  padding: 85px 0; }

.title-section {
  color: #FFDE16;
  font-family: "Russo One", sans-serif;
  font-size: 3em;
  text-transform: uppercase; }

.item-blocks {
  box-sizing: border-box;
  margin: 50px auto;
  padding: 180px 15px 25px;
  position: relative;
  max-width: 300px; }
  .item-blocks p {
    margin-top: 25px; }
  .item-blocks:before {
    content: '';
    border-radius: 50%;
    position: absolute;
    height: 150px;
    width: 150px;
    top: 25px;
    left: calc(50% - 150px/2); }

span[class*="flaticon-md"]:before {
  font-size: 5.2em;
  margin: 0 !important;
  top: 41px;
  position: absolute;
  left: calc(50% - 85px/2); }

.social-list {
  display: inline-block; }
  .social-list a {
    color: #FFDE16;
    text-decoration: none; }

footer {
  background: #3E4544;
  padding: 40px 0;
  width: 100%; }
  footer .subtitle {
    color: #FFDE16;
    font-family: "Russo One", sans-serif;
    font-size: 1.4em; }
  footer .item-footer li {
    margin: 8px 0;
    font-family: "Titillium Web", sans-serif; }
  footer .item-footer .address {
    padding-left: 28px; }
  footer .item-footer span:before {
    color: #BAB6A8;
    position: relative;
    font-size: 1em;
    margin: 0;
    padding: 5px; }

.about-row {
  margin-top: 60px; }
  .about-row p {
    font-size: 1.1em;
    text-align: right; }

.progress-block {
  margin: 50px auto; }
  .progress-block .progress {
    height: 12px; }
  .progress-block .progress-bar {
    background-color: #FFDE16; }
    .progress-block .progress-bar.active {
      background-color: #ccc; }
  .progress-block .item-progress {
    position: relative;
    margin-top: 30px; }
  .progress-block .progress label {
    position: absolute;
    top: -25px;
    left: 0; }

.services {
  background: #EDEDED;
  color: #FFDE16; }
  .services .item-blocks {
    background: transparent;
    transition: all .6s ease-in-out; }
    .services .item-blocks .subtitle {
      color: #7B2A90;
      font-family: "Russo One", sans-serif;
      font-size: 1.6em; }
    .services .item-blocks p {
      color: #000; }
    .services .item-blocks:before {
      border: 10px solid #BAB6A8;
      transition: all .8s ease-out; }
    .services .item-blocks span:before {
      color: #BAB6A8;
      transition: all .8s ease-in-out; }
  .services .item-blocks:hover {
    background: rgba(0, 0, 0, 0.8); }
    .services .item-blocks:hover:before {
      border: 0; }
    .services .item-blocks:hover .subtitle {
      color: #7B2A90; }
    .services .item-blocks:hover p, .services .item-blocks:hover span {
      color: #FFDE16; }
    .services .item-blocks:hover span:before {
      color: #FFDE16;
      transform: scale(1.3) rotate(-360deg); }

.partners {
  background: #7B2A90;
  color: #fff; }
  .partners .item-blocks {
    position: relative;
    transition: all .6s ease-in-out; }
    .partners .item-blocks .brand-partner {
      border-radius: 50%;
      padding: 50px 25px;
      height: 150px;
      width: 150px;
      position: absolute;
      top: 20px;
      left: calc(50% - 150px/2); }
      .partners .item-blocks .brand-partner:before {
        content: url(../images/dremel.png);
        position: absolute;
        top: calc(50% - 20px/2);
        left: calc(50% - 125px/2); }
  .partners .social-partners {
    list-style: none;
    margin: 30px 0 0; }
  .partners .social-partners .social-list {
    margin: 0 7px; }
    .partners .social-partners .social-list span:before {
      font-size: 1.5em;
      margin: 0; }
    .partners .social-partners .social-list .facebook:hover {
      color: #3b5998; }
    .partners .social-partners .social-list .twitter:hover {
      color: #00aced; }
    .partners .social-partners .social-list .instagram:hover {
      color: #bc2a8d; }
    .partners .social-partners .social-list .linkedin:hover {
      color: #007bb6; }
  .partners .item-blocks:hover {
    background: #FFDE16; }
    .partners .item-blocks:hover .brand-partner {
      background: #000;
      transition: all .6s ease-in; }
    .partners .item-blocks:hover .social-partners .social-list a {
      color: #000; }
    .partners .item-blocks:hover p {
      color: #000; }

.diferentials .item-blocks:before {
  height: 110%;
  width: 100%;
  top: 0;
  left: 0; }

.diferentials .blocks--diferentials:before {
  border: none; }

.diferentials .blocks--diferentials span[class*="flaticon-"]:before {
  color: #EDEDED;
  font-size: 12em !important;
  top: 0;
  left: calc(50% - 195px/2); }

.diferentials .blocks--diferentials h3 {
  font-family: "Russo One", sans-serif;
  margin-top: 100px; }

.contact {
  background: #FFDE16;
  color: #000; }
  .contact .title-section {
    color: #000; }
  .contact .subtitle {
    color: #7B2A90;
    font-family: "Russo One", sans-serif;
    font-size: 1.2em; }

.form button {
  background: #000;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 1.4em;
  font-family: "Russo One", sans-serif;
  padding: 10px 14px; }
  .form button:hover {
    color: #7B2A90; }

.input-group {
  margin: 30px auto; }
  .input-group .form-control {
    border: 0;
    border-radius: 4px !important;
    color: #7B2A90;
    font-family: "Titillium Web", sans-serif; }
    .input-group .form-control:focus {
      border: 1px solid #000;
      box-shadow: none; }
